<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Задачі</h4>

  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>№</th>
        <th>Назів</th>
        <th>Категорія</th>
        <th>Пріоритет</th>
        <th>Дата</th>
        <th>Статус</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index" [class.completed]="task.completed">
          <td>{{i+1}}</td>
          <td>{{task.title}}</td>
          <td [class.novalue]="task.category == null"> {{task.category != null ? task.category.title : "Без категории"}}</td>
          <td [class.novalue]="task.category == null">{{task.priority != null ? task.priority.title : "Без приоритета"}}</td>
          <td [class.novalue]="task.category == null">{{ task.date != null ? (task.date | date: 'dd/MM/yyyy') : "Без дати" }}</td>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" value="" [checked]="task.completed" type="checkbox" (click)="toggleTaskCompleted(task)">
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>